body {
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.377), rgba(2, 255, 2, 0.219)), url(./bg.jpg);
    display: flex;
}

.nav {
    background-color: rgba(0, 0, 0, 0.281);
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 100vh;
    gap: 3rem;
    justify-content: center;
}

.nav>button {
    margin: 0px 5px;
    font-size: 1.5rem;
    color: rgb(207, 207, 207);
    height: 2.5rem;
    background-color: transparent;
    transition: 900ms;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.37);
        font-size: 1.7rem;
    }
}

.display {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100em;
    height: 100vh;
    transition: 800ms
}

.add-user-inter>form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 150vh;
    height: 100vh;
}

.add-user-inter>form>input {
    display: block;
    height: 3rem;
    width: 20rem;
    background-color: rgba(0, 0, 0, 0.336);
    color: aliceblue;
}

.add-user-inter>form>button {
    cursor: pointer;
    margin-top: 1rem;
    width: 20.2rem;
    height: 3rem;
    color: azure;
    background-color: rgba(153, 30, 30, 0.473);

    &:hover {
        background-color: rgba(131, 13, 13, 0.726);
    }
}

#add-user-interface {
    display: none;
    position: absolute;
    width: 100vh;
    height: fit-content
}
.result {
    margin: 30vh;
    color: rgb(199, 196, 196);
    font-size: 3vh;
}

.nav-item.active {
    background-color: rgba(0, 0, 0, 0.37);
    font-size: 1.7rem;
}
#delete-user-inter{
    display: none;
}
.delete-user-inter{
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.del-form{
    height: 50vh;
    width: 70vh;
    background-color: rgba(165, 42, 42, 0);
}
.del-form>button{
    width: 10rem;
    height: 3rem;
    background-color: rgba(255, 0, 0, 0.575);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: aliceblue;
    cursor: pointer;
    margin: 20vh 22vh;
    &:hover{
        background-color: rgb(255, 0, 0);
    }
}

